@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;1,500&display=swap');

:root {
    --font-color: #36c38d;
    --background-color: #424351;
    --tally-color: #32333c;
}

* {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: calc(100vw - 50%);
    height: calc(100vh - 20rem);
    background: var(--tally-color);
}

.counter-screen h1 {
    font-size: 3.8rem;
    color: var(--font-color);
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.counter-screen {
    width: 50%;
    text-align: center;
}

.counter-screen h2 {
    font-size: 7rem;
    margin-bottom: 1.6rem;
    color: var(--font-color);
}

.counter-btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12rem;
}

.add-btn, .minus-btn, .reset-btn {
    font-size: 3.5rem;
    text-align: center;
    cursor: pointer;
    color: var(--font-color);
}

.reset-btn {
    user-select: none;
}